{{ "<!-- event -->" | safeHTML }}
<aside class="bg-dark" id="event">
  
  <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
          {{ with .Site.Params.event.heading }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                                    <hr class="light">

<p class="text-justify">
On February 3rd, 2020, Nienke Grossman, Terry Karl, Suzanna Challen, and Charna Sherman — four women who have spoken out about sexual harassment at Harvard — returned to campus to talk about why they are still in this fight, joined by America's top #MeToo lawyer, Debra Katz, and student activist and union organizer, Sejal Singh.


<br>
<br>
<br>

Watch the event here:
</p>

           

        <iframe width="560" height="315" src="https://www.youtube.com/embed/ht40vgVw1Gc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</aside>
