{{ "<!-- event -->" | safeHTML }}
<aside class="bg-dark">
    <div class="container text-center">
       {{ with .Site.Params.event.heading }}
                    <h1 class="section-heading">{{ . }}</h1>
                {{ end }}
                 {{ if and .Site.Params.event.heading .Site.Params.event.headline }}
                    <hr class="light">
                {{ end }}
        <div class="call-to-action">
            {{ with .Site.Params.event.headline }}<h2>{{ . }}</h2>{{ end }}
            {{ with .Site.Params.event.subline }}<h4>{{ . }}</h4>{{ end }}
             {{ with .Site.Params.event.description }}
                    <p class="text">{{ . | markdownify }}</p>
                {{ end }}
            {{ if and .Site.Params.event.button.link .Site.Params.event.button.text }}
                <a href="{{ .Site.Params.event.button.link }}" class="btn btn-default btn-x">{{ .Site.Params.event.button.text }}</a>
            {{ end }}
            {{ if and .Site.Params.event.button2.link .Site.Params.event.button2.text }}
                <a href="{{ .Site.Params.event.button2.link }}" class="btn btn-default btn-x">{{ .Site.Params.event.button2.text }}</a>
            {{ end }}
        </div>
    </div>
</aside>
