{{ "<!-- event -->" | safeHTML }}
<section class="bg-dark" id="event">
    <div class="container text-center">
       {{ with .Site.Params.event.heading }}
                    <h1 class="section-heading">{{ . }}</h1>
                {{ end }}
                 {{ if and .Site.Params.event.heading }}
                    <hr class="light">
                {{ end }}
  <br />
                <br />
                <img src="img/poster_final_3.png" style="width:80%;">
                <br />
                         <br />

                         <img src="img/poster_final.png" style="width:80%;">
                         <br />
                         <br />

        <div class="call-to-action">
         
          <img src="img/poster_final_2.png" style="width:80%;">
          <br />
          <br />


            {{ if and .Site.Params.event.button.link .Site.Params.event.button.text }}
                <a href="{{ .Site.Params.event.button.link }}" class="btn btn-default btn-x">{{ .Site.Params.event.button.text }}</a>
            {{ end }}
            {{ if and .Site.Params.event.button2.link .Site.Params.event.button2.text }}
                <a href="{{ .Site.Params.event.button2.link }}" class="btn btn-default btn-x">{{ .Site.Params.event.button2.text }}</a>
            {{ end }}
        </div>
    </div>
</section>
