<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
<a href="img/gallery/1.jpg" data-lightbox="gallery"><img src="img/gallery/1.jpg"></a>
<a href="img/gallery/2.jpg" data-lightbox="gallery"><img src="img/gallery/2.jpg"></a>
<a href="img/gallery/3.jpg" data-lightbox="gallery"><img src="img/gallery/3.jpg"></a>
<a href="img/gallery/4.jpg" data-lightbox="gallery"><img src="img/gallery/4_tn.jpg"></a>
<a href="img/gallery/5.jpg" data-lightbox="gallery"><img src="img/gallery/5_tn.jpg"></a>
<a href="img/gallery/6.jpg" data-lightbox="gallery"><img src="img/gallery/6_tn.jpg"></a>
 </div>
                                        </div>
                                </div>
</section>