{{ "<!-- CONTACT -->" | safeHTML }}

<section id="history">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.history.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                    <hr class="primary">


<p class="text-justify">
  The Domínguez case sparked a <a href= "https://www.nytimes.com/2019/05/03/us/harvard-harassment-dominguez.html">national conversation</a> on how academic institutions have responded — or failed to respond — to sexual harassment within their ranks. <br/> <br/>
  

Just two months after the Chronicle began its reporting on the Domínguez case, Harvard's graduate students voted to form a union. <a href="http://harvardgradunion.org/members/nocarveout/" >Stronger protections against harassment and discrimination</a> have become one of their central demands.
<br/>
<br/>


                                      After more than a <a href="https://www.thecrimson.com/article/2019/2/28/dominguez-external-review/">year of pressure from students, staff, faculty, and alumni</a>, Harvard finally agreed to hold an External Review into the institutional failures surrounding the Domínguez case. 
                       
                                      But survivors say they have been sent a "<a href="https://www.thecrimson.com/article/2019/11/12/Dominguez-accuser-concerned-disinterest/">message of disinterest</a>" by the External Review Committee.
                                      <br/>
                                      <br/>
                                      Meanwhile, Harvard's student workers have <a href="https://www.wbur.org/edify/2019/12/31/harvard-graduate-students-to-end-strike-without-a-contract">ended their record-breaking 29 day strike</a> without a contract, and continue to fight for a neutral third-party arbitration process for sexual harassment claims.
      <p/>



            </div>
                    </div>
    </div>

</section>

