{{ "<!-- CONTACT -->" | safeHTML }}
<section class="bg-primary" id="resources">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                {{ with .Site.Params.resources.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                    <hr class="primary">
                    <h3><a href="https://www.rainn.org/" style="color: #FFFFFF; text-decoration:underline">RAINN</a></h3>
                    <p>RAINN (Rape, Abuse & Incest National Network) is the nation's largest anti-sexual violence organization, and operates the National Sexual Assault Hotline (800-656-HOPE, <a href="https://hotline.rainn.org/online" style="color: #FFFFFF; text-decoration:underline">online.rainn.org</a> y <a href="https://www.rainn.org/es" style="color: #FFFFFF; text-decoration:underline">rainn.org/es</a>).</p>
                    
                     <h3><a href="https://www.knowyourix.org/survivor-resources/" style="color: #FFFFFF; text-decoration:underline">Know Your IX</a></h3>
                    <p>Know Your IX is a survivor- and youth-led project of Advocates for Youth that aims to empower students to end sexual and dating violence in their schools.</p>
                    
                     <h3><a href="https://barcc.org/" style="color: #FFFFFF; text-decoration:underline">BARCC</a></h3>
                    <p>BARCC (Boston Area Rape Crisis Center) provides free, confidential support and services to survivors of sexual violence ages 12 and up and their families and friends. BARCC provides a confidential phone hotline (800-841-8371) and <a href="https://barcc.org/help/services/hotline" style="color: #FFFFFF; text-decoration:underline">web chat service</a>.</p>
                    
                                         <h3><a href="https://osapr.harvard.edu/" style="color: #FFFFFF; text-decoration:underline">OSAPR</a></h3>

                    <p>The Office of Sexual Assault Prevention & Response at Harvard offers trauma-informed care, training, and community engagement. OSAPR also operates a 24/7 confidential hotline (617-495-9100) for those experiencing emotional distress or in need of medical/legal information.</p>
            </div>
            
        </div>
    </div>
</section>
